<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}

{% if page.image %}
<meta name="twitter:card" content="Kailash Bohara - Cybersecurity Researcher">
<meta name="twitter:image" content="{{ site.url }}/images/posts/{{ page.image }}">
{% else %}
<meta name="twitter:card" content="Kailash Bohara - Cybersecurity Researcher">
<meta name="twitter:image" content="{{ site.url }}/images/author/avatar.png">
{% endif %}

<!-- Open Graph -->
<meta property="og:title" content="Kailash Bohara">
<meta property="og:site_name" content="Kailash Bohara - Security Researcher">
<meta property="og:url" content="https://kailashbohara.com.np/">
<meta property="og:description" content="Penetration testing, Threat Hunting, Security research, Ethical hacking, cloud security ">
<meta property="og:type" content="website">
<meta property="og:image" content="https://kailashbohara.com.np/images/author/avatar.png">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
